need entries in the df for the metadata.

what about making a utils script...

In [6]:
# use pytorch_env

import os

import numpy as np
import pandas as pd
import seaborn as sns

import cv2
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

import pickle

from utils_bodies import get_meta_keys

In [2]:
pkl_file = open('df.pkl', 'rb')
df = pickle.load(pkl_file)
pkl_file.close()

In [4]:
df.head()

    img_id feature    xmin    xmax   ymin    ymax   width  height  depth
0  JS33851  person  1867.0  4024.0    1.0  2432.0  4024.0  2648.0      3
1  JS33851   adult  1865.0  4022.0    1.0  2432.0  4024.0  2648.0      3
2  JS33851    male  1863.0  4020.0    1.0  2432.0  4024.0  2648.0      3
3  JS16121  person  1548.0  2317.0  429.0  1164.0  3008.0  1960.0      3
4  JS16121    male  1548.0  2327.0  412.0  1161.0  3008.0  1960.0      3

In [7]:
path = '/home/simon/Documents/Bodies/data/jeppe/images'
dict_keys = get_meta_keys()