need entries in the df for the metadata.

what about making a utils script...

In [1]:
# use pytorch_env

import os

import numpy as np
import pandas as pd
import seaborn as sns

import cv2
import iptcinfo3
from iptcinfo3 import IPTCInfo
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

import pickle

from utils_bodies import get_meta_keys, get_IPTC_data, meta_to_df

In [2]:
pkl_file = open('df.pkl', 'rb')
df = pickle.load(pkl_file)
pkl_file.close()

path = '/home/simon/Documents/Bodies/data/jeppe/images'

In [3]:
# # test for list to multyple cells.
# test_df = pd.DataFrame({'A':[1,1,3], 'B':[4,5,6]})
# # test_df['B'] = test_df['B'].astype('object')


# my_list = ['a','b','c']
# my_list_sized = pd.Series([my_list] * test_df.loc[test_df['A'] == 1, 'B'].shape[0]) # dump hack
# test_df.loc[test_df['A'] == 1, 'B'] = my_list_sized

# test_df

In [4]:
# def meta_to_df(df):

#     """Returns new df with meta data from images"""

#     df_expanded = df.copy()
#     dict_keys = get_meta_keys()

#     # create empty columns
#     for k in dict_keys:    
#         df_expanded[k] = np.nan #pd.NA #None

#     # get IPCT info fro each img_id
#     for i in df_expanded['img_id']:#[0:1]:

#         #print(i) # for debug

#         filename = i + '.jpg'
#         file_path = os.path.join(path, filename)
#         info = IPTCInfo(file_path, force=True)
        
#         # Fill IPTC info into columns for i img_id
#         for j in dict_keys:

#             #print(j)  # for debug

#             if info[j] != None:
#                 if len(info[j]) > 0:

#                     #print(info[j])
#                     #print(type(info[j]))
#                     #print(len(info[j]))

#                     if type(info[j]) == bytes:
#                         # Just decode and add
#                         df_expanded.loc[df_expanded['img_id'] == i, j] = info[j].decode('utf-8')

#                     elif type(info[j]) == list:
#                         # decode each entry in the list
#                         temp_list = []
#                         for n in info[j]:
#                             temp_list.append(n.decode('utf-8'))

#                         #print(temp_list)
#                         # Make the list into a series of list fitting the size of the data frame slice
#                         temp_list_series = pd.Series([temp_list] * df_expanded.loc[df_expanded['img_id'] == i, j].shape[0]) # it is a hack...
#                         df_expanded.loc[df_expanded['img_id'] == i, j] = temp_list_series

#                     else:
#                         # just add
#                         df_expanded.loc[df_expanded['img_id'] == i, j] = info[j]

#     # remove columns with all NaNs
#     df_cleaned = df_expanded.dropna(axis=1, how='all')
#     return(df_cleaned)

df_new = meta_to_df(df, path)

In [5]:
print(df_new.shape)
print(df_new.columns)

(7009, 32)
Index(['img_id', 'feature', 'xmin', 'xmax', 'ymin', 'ymax', 'width', 'height',
       'depth', 'object name', 'urgency', 'fixture identifier', 'keywords',
       'release date', 'date created', 'time created', 'by-line',
       'by-line title', 'city', 'province/state',
       'country/primary location code', 'country/primary location name',
       'headline', 'credit', 'source', 'copyright notice', 'caption/abstract',
       'writer/editor', 'custom1', 'custom2', 'custom3', 'custom4'],
      dtype='object')

In [6]:
df_new.head()

,img_id,feature,xmin,xmax,ymin,ymax,width,height,depth,object name,...,headline,credit,source,copyright notice,caption/abstract,writer/editor,custom1,custom2,custom3,custom4
0,JS33851,person,1867.0,4024.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
1,JS33851,adult,1865.0,4022.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
2,JS33851,male,1863.0,4020.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
3,JS16121,person,1548.0,2317.0,429.0,1164.0,3008.0,1960.0,3,NaN,...,Iraqis demonstrate on the second anniversary o...,Polaris Images,NaN,Johan Spanner/Polaris,Supporters of Moqtada Al Sadr filled the stree...,NaN,Spanner,Raw,2005,DSC_1599.JPG
4,JS16121,male,1548.0,2327.0,412.0,1161.0,3008.0,1960.0,3,NaN,...,Iraqis demonstrate on the second anniversary o...,Polaris Images,NaN,Johan Spanner/Polaris,Supporters of Moqtada Al Sadr filled the stree...,NaN,Spanner,Raw,2005,DSC_1599.JPG

In [7]:
# Pickle the dataset.

file_name = "df_full.pkl"
output = open(file_name, 'wb') 
pickle.dump(df_new, output)
output.close()